.header {
    position: relative;
    margin-bottom: 2em;
}

.header-home {
    height: 100dvh;
}
.header-compact {
    height: auto;
}

.header-bar {
    background-color: #000000;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
}

.header-bar > nav {
    color: white;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 10em;
}

nav > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

nav > ul > li {
    color: white;
    font-size: 1.2em;
}

.logo {
    z-index: 100;
    width: 5em;
    height: 5em;
    margin-right: 0.5em;
    display: inline-block;
    border-radius: 50%;
}

.title-image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 14em;
}

.title-text-box {
    text-align: center;
    color: white;
    z-index: 100;
    padding: 1em;
}

.title {
    font-size: 6em;
    margin-bottom: 0;
}

.frontimage {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    filter: brightness(50%);
}

.logo-link {
    z-index: 1000;
}
